
nav{
 font-family: Helvetica;
font-size: 18px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.1em;
text-align: left;


}



.card{
 box-shadow: 2px 2px 15px 0px #8B878740; 
  
    background: #FFFFFF;

    font-family:Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-align: left;  
 gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
    
}
body{
    padding-bottom: 60px;
}

